* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 80%;
    padding-left: 10%;
}

#logo {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: rgb(252, 252, 252);
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav li {
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: Candal, sans-serif;
    font-size: 0.7rem;
}

.navicon {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(251, 139, 155);
}

.title {
    background-image: url(img/background.jpg);
    background-size: cover;
    height: 400px;
    padding-top: 200px;
}

h1 {
    color: rgb(254, 252, 254);
    font-size: 3em;
    font-family: Candal, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title p {
    color: rgb(254, 252, 254);
    font-size: 2em;
    font-family: Candal, sans-serif;
    text-align: center;
    padding-top: 50px;
}

input[type=text] {
    width: 100%;
    height: 50px;
    background-color: rgb(251, 139, 155);
    color: white;
    border: none;
}

::placeholder {
    color: rgb(249, 200, 216);
    padding-left: 20px;
}

section {
    width: 80%;
    padding-left: 10%;
}

.fontdesc {
    font-family: Open Sans, sans-serif;
}

.price {
    padding-left: 12.5%;
    padding-bottom: 20px;
    color: rgb(243, 144, 177);
    font-weight: bold;
}

h2 {
    font-family: Candal, sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    font-size: 1.8em;
}

h3 {
    font-family: Candal, sans-serif;
    padding: 30px 0;
    font-size: 1.2em;
    color: rgb(243, 144, 177);
}

.firstbloc {
    margin: 30px 0 0 0;
    border: dotted;
}

.secondbloc {
    margin: 30px 0 0 0;
    border: dotted;
}

.midicon {
    display: flex;
    justify-content: center;
    color: rgb(251, 139, 155);
    font-size: 25px;
}

footer {
    background-color: rgb(33, 62, 78);
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

footer ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer li {
    display: flex;
    justify-content: space-between;
}

footer a {
    color: rgb(254, 252, 254);
}

@media screen and (max-width: 768px) {
    #logo {
        position: absolute;
        top: 0;
    }

    nav ul {
        display: block;
        padding-top: 150px;
        padding-bottom: 20px;
    }

    nav li {
        display: flex;
        justify-content: center;
    }

    .title {
        height: 600px;
    }

    h1, h2 {
        text-align: center;
    }

    h3 {
        font-size: 0.8em;
    }

    section {
        display: block;
    }

    footer {
        height: auto;
    }

    footer ul {
        display: block;
        margin: auto;
    }

    footer li {
        padding: 10px 0;
        width: 50%;
        margin: auto;
    }
    
    footer a {
        width: 100%;
        text-align: center;
    }
}